BasedOnStyle: Google
IndentWidth: 2
TabWidth: 2
UseTab: Never
BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
AlwaysBreakAfterReturnType: All
AlwaysBreakBeforeMultilineStrings: true
SpacesBeforeTrailingComments: 1
SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: true
SpacesInParentheses: false
Cpp11BracedListStyle: true
ColumnLimit: 80
